html, body {
    max-width: 90%;
    margin: auto;
}

#wrapper {
    background-color: #F3F3F3;
}

img {
    width: 10rem;
    height: 10rem;
    float: left;
    position: relative;
    left: 1rem;
    top: 1rem;
    border-radius: 50%;
}

#header-title {
    height: 200px;
}

#identity p {
    font-size: 2.4rem;
    font-weight: bold;
    width: 20em;
    /*background-color: blue;*/
    font-family: 'Livvic', sans-serif;
    letter-spacing: 0.1em;
    position: relative;
    top: 30px;
    left: 40px;
}

#identity span {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Livvic', sans-serif;
    letter-spacing: 0.05em;
}

#contact {
    float: right;
    height: 200px;
    position: relative;
    bottom: 137px;
    padding-left: 5px;
}

#contact p {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Livvic', sans-serif;
    letter-spacing: 0.05em;
    position: relative;
    top: 45px;
    right: 20px;
}

#clear {
    clear: both;
}

hr {
    position: relative;
    bottom: 145px;
    border: 1px solid #D1992A;
}

#experience-section {
    height: 200px;
    position: relative;
    bottom: 153px;
    max-width: 98.5%;
    margin: auto;
}

.subject {
    width: 33%;
    float: left;
    height: 100%;
}

.details {
    width: 67%;
    height: 100%;
    float: right;
}

.subject p {
    font-style: italic;
    color: #D1992A;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    position: relative;
    left: 50px;
}

.upper {
    position: relative;
    bottom: 40px;
}

li {
    list-style: none;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: #000000;
    margin-right: 40px;
    position: relative;
    right: 20px;
}

#high {
    height: 50px;
}

.federal p {
    position: relative;
    bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #000000;
    position: relative;
    left: 20px;
}

#school {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    bottom: 10px;
}

#qualification {
    position: relative;
    bottom: 20px;
    font-size: 1rem;
}

#year {
    position: relative;
    bottom: 30px;
    font-size: 0.8rem;
}

#sec {
    position: relative;
    bottom: 8px;
}

#uni {
    position: relative;
    bottom: 30px;
}

.bmb {
    font-family: 'Montserrat', sans-serif;
}

.bmb div {
    position: relative;
    left: 20px;
    bottom: 15px;
}

.all {
    font-weight: bold;
    letter-spacing: 0.08rem;
}